# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Extra
*.Po
Makefile
Makefile.in
config.status
config.log
autom4te.cache/*
TAGS
tags
src/results/*
m2s
test
configure
aclocal.m4
